<app-page-filter></app-page-filter>


<!-- main -->
<div class="w-[1310px] m-auto flex justify-between">
  <div class="w-1/2 ">
    <div class="w-full mb-[28px] border-2 rounded-[15px]">
      <img class="w-[100%] h-[560px] object-cover" src="src/img/image/image_sp_detail.png" alt="">
    </div>
    <div class="grid grid-cols-2 gap-[14px] h-[157px]">
      <img class="w-[310px] h-[157px]" src="src/img/image/remote_detail.png" alt="">
      <img class="w-[310px] h-[157px]" src="src/img/image/remote_detail.png" alt="">
    </div>

  </div>

  <div class="w-1/2 ml-[20px] mb-[76px]">

    <div class="mb-[30px]">
      <p class="text-[29px] font-medium text-[#003F62] mb-[25px]">Play game</p>
      <p class="text-[30px] font-semibold mb-[25px]">$11,70</p>
      <div class="flex items-center mb-[25px]">
        <img class="w-[30px] h-[30px]" src="src/img/icon/start_detail/vuesax/linear/star.svg" alt="">
        <img class="w-[30px] h-[30px]" src="src/img/icon/start_detail/vuesax/linear/star.svg" alt="">
        <img class="w-[30px] h-[30px]" src="src/img/icon/start_detail/vuesax/linear/star.svg" alt="">
        <img class="w-[30px] h-[30px]" src="src/img/icon/start_detail/vuesax/linear/star.svg" alt="">
        <img class="w-[30px] h-[30px]" src="src/img/icon/start_detail/vuesax/linear/star.svg" alt="">
        <span class="ml-[9px] text-[13px] font-medium">No reviews</span>
      </div>
      <p class="text-[18px] font-medium mb-[25px]">Availability: <span class="text-[green]">In stock</span></p>
      </p>
      <p class="text-[15px] text-[#5D5D5D] mb-[25px]">Hurry up! only 34 product left in stock!</p>

      <div class="border mb-[30px]"></div>
      <div>
        <div class="flex mb-[28px] ">
          <p class="mr-[30px] font-medium text-[18px]">Color:</p>
          <div class="flex items-center me-4">
            <input id="red-radio" type="radio" value="" name="colored-radio"
              class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="red-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Red</label>
          </div>

          <div class="flex items-center me-4">
            <input id="green-radio" type="radio" value="" name="colored-radio"
              class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="green-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Green</label>
          </div>


        </div>
        <div class="flex mb-[28px] ">
          <p class="mr-[30px] font-medium text-[18px]">Size:</p>

          <button class="w-[63px] h-[32px] text-center border bg-[#EEEEEE] ml-[20px]">30</button>
          <button class="w-[63px] h-[32px] text-center border bg-[#EEEEEE] ml-[20px]">32</button>
          <button class="w-[63px] h-[32px] text-center border bg-[#EEEEEE] ml-[20px]">36</button>
          <button class="w-[63px] h-[32px] text-center border bg-[#EEEEEE] ml-[20px]">39</button>

        </div>

        <div class="flex mb-[28px] ">
          <p class="mr-[30px] font-medium text-[18px]">Quantity:</p>

          <button class="w-[63px] h-[32px] text-center border-black border-2 bg-[#EEEEEE] ">-</button>
          <button class="w-[63px] h-[32px] text-center border-black border-2 bg-[#EEEEEE] ">1</button>
          <button class="w-[63px] h-[32px] text-center border-black border-2 bg-[#EEEEEE] ">+</button>

        </div>
        <div class="flex items-center justify-between">
          <button class="w-[241px] text-[22px] font-semibold h-[60px] bg-[#EDA415] text-white rounded-[25px]">Add to
            cart</button>
          <button class="w-[241px] text-[22px] font-semibold h-[60px] bg-[#EDA415] text-white rounded-[25px]">Buy it
            now</button>
          <button class=""><img src="src/img/icon/heart_detail.svg" alt=""></button>
        </div>

      </div>

    </div>

    <div
      class="w-full text-left font-medium text-[18px] h-[150px] border-top-2 border-black flex flex-col justify-between">
      <p>Sku: <span>01133-9-9</span></p>
      <p>Category: <span class="ml-[10px]">20% off,</span> <span class="ml-[10px]">49% off</span> <span
          class="ml-[10px]">Alex remote</span>
      </p>
      <div class="flex">
        <p>Share: </p>
        <div class="flex ">
          <a class="ml-[30px]" href=""><img src="src/img/icon/google_footer_home/vuesax/linear/google.svg" alt=""></a>
          <a class="ml-[30px]" href=""><img src="src/img/icon/fb_footer_home/vuesax/linear/vuesax/linear/facebook.svg"
              alt=""></a>
          <a class="ml-[30px]" href=""><img src="src/img/icon/phone_footer_home/vuesax/linear/whatsapp.svg" alt=""></a>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- phaan trang -->
<div class="m-auto w-[1310px] text-center mb-[34px]">
  <button class=" mr-[20px] w-[187px] rounded-[15px] h-[60px] text-[20px] font-medium border">Description</button>
  <button class="w-[187px] rounded-[15px] h-[60px] text-[20px] text-white font-medium bg-[#003F62]">Description</button>
</div>


<!-- Customer reviews -->
<div
  class="w-[1310px] h-[223px] border rounded-[10px] m-auto flex flex-col justify-between px-[100px] py-[40px] mb-[74px]">
  <p class="font-semibold text-[23px]">Customer reviews</p>
  <p>No reviews yet</p>
  <button class="w-[196px] h-[40px] text-white bg-[#003f62]">Write a review</button>
</div>

<div class="m-auto w-[1310px]">
  <p class="text-[27px] font-semibold text-[#1B5A7D] mb-[62px]">Related product</p>


  <div class="grid grid-cols-4 gap-[26px] border-2 mb-[96px] ">

    <!--box  -->
    <div class="border-2 flex flex-col rounded-[20px] h-[313px]  relative group ">
      <div>
        <a class="w-[100%] m-auto" href=""><img class="m-auto" src="src/img/image/camera_boxsp_home.png" alt=""></a>
        <button class="absolute top-[36px] right-[22px] w-[27px] h-[27px]">
          <img class="w-[27px] h-[27px]" src="src/img/icon/heart_box_item_home.svg" alt="">
        </button>
      </div>

      <div class="h-[100%] flex justify-between flex-col item-info group-hover:hidden p-[20px]">
        <p class="text-[17px] font-medium text-[#003F62]">Wireless headphones</p>
        <p class="text-[#4A4A4A] font-medium text-[17px]">$11,70</p>
        <span class="flex">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
        </span>
      </div>


      <div
        class="hidden bottom-0 w-full h-[100%] px-[10px] justify-between items-center hover-content group-hover:flex">
        <button
          class="mb-0 w-[204px] h-[60px] bg-[#87BCD9] relative flex items-center px-[10px] rounded-[20px] text-[16px] font-semibold">Add
          to
          cart
          <img class="absolute right-0 top-[50%] translate-x-[-50%] translate-y-[-50%] w-[30px] h-[30px] object-cover"
            src="src/img/icon/cart_boxsp_home.svg" alt="">
        </button>

        <button class="bg-[#87BCD9] w-[70px] rounded-full h-[60px]  ">
          <img class="w-[70px] h-[60px] object-cover" src="src/img/icon/eye_boxsp2_home.svg" alt="">
        </button>

      </div>




    </div>
    <div class="border-2 flex flex-col rounded-[20px] h-[313px]  relative group">
      <div>
        <a class="w-[100%] m-auto" href=""><img class="m-auto" src="src/img/image/camera_boxsp_home.png" alt=""></a>
        <button class="absolute top-[36px] right-[22px] w-[27px] h-[27px]">
          <img class="w-[27px] h-[27px]" src="src/img/icon/heart_box_item_home.svg" alt="">
        </button>
      </div>

      <div class="h-[100%] flex justify-between flex-col item-info group-hover:hidden p-[20px]">
        <p class="text-[17px] font-medium text-[#003F62]">Wireless headphones</p>
        <p class="text-[#4A4A4A] font-medium text-[17px]">$11,70</p>
        <span class="flex">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
        </span>
      </div>


      <div
        class="hidden bottom-0 w-full h-[100%] px-[10px] transiton transform: rotate(360deg);   justify-between items-center hover-content group-hover:flex">
        <button
          class="mb-0 w-[204px] h-[60px] bg-[#87BCD9] relative flex items-center px-[10px] rounded-[20px] text-[16px] font-semibold">Add
          to
          cart
          <img class="absolute right-0 top-[50%] translate-x-[-50%] translate-y-[-50%] w-[30px] h-[30px] object-cover"
            src="src/img/icon/cart_boxsp_home.svg" alt="">
        </button>

        <button class="bg-[#87BCD9] w-[70px] rounded-full h-[60px]  ">
          <img class="w-[70px] h-[60px] object-cover" src="src/img/icon/eye_boxsp2_home.svg" alt="">
        </button>

      </div>
    </div>
    <div class="border-2 flex flex-col rounded-[20px] h-[313px]  relative group">
      <div>
        <a class="w-[100%] m-auto" href=""><img class="m-auto" src="src/img/image/camera_boxsp_home.png" alt=""></a>
        <button class="absolute top-[36px] right-[22px] w-[27px] h-[27px]">
          <img class="w-[27px] h-[27px]" src="src/img/icon/heart_box_item_home.svg" alt="">
        </button>
      </div>

      <div class="h-[100%] flex justify-between flex-col item-info group-hover:hidden p-[20px]">
        <p class="text-[17px] font-medium text-[#003F62]">Wireless headphones</p>
        <p class="text-[#4A4A4A] font-medium text-[17px]">$11,70</p>
        <span class="flex">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
        </span>
      </div>


      <div
        class="hidden bottom-0 w-full h-[100%] px-[10px] transiton transform: rotate(360deg);   justify-between items-center hover-content group-hover:flex">
        <button
          class="mb-0 w-[204px] h-[60px] bg-[#87BCD9] relative flex items-center px-[10px] rounded-[20px] text-[16px] font-semibold">Add
          to
          cart
          <img class="absolute right-0 top-[50%] translate-x-[-50%] translate-y-[-50%] w-[30px] h-[30px] object-cover"
            src="src/img/icon/cart_boxsp_home.svg" alt="">
        </button>

        <button class="bg-[#87BCD9] w-[70px] rounded-full h-[60px]  ">
          <img class="w-[70px] h-[60px] object-cover" src="src/img/icon/eye_boxsp2_home.svg" alt="">
        </button>

      </div>
    </div>
    <div class="border-2 flex flex-col rounded-[20px] h-[313px]  relative group">
      <div>
        <a class="w-[100%] m-auto" href=""><img class="m-auto" src="src/img/image/camera_boxsp_home.png" alt=""></a>
        <button class="absolute top-[36px] right-[22px] w-[27px] h-[27px]">
          <img class="w-[27px] h-[27px]" src="src/img/icon/heart_box_item_home.svg" alt="">
        </button>
      </div>

      <div class="h-[100%] flex justify-between flex-col item-info group-hover:hidden p-[20px]">
        <p class="text-[17px] font-medium text-[#003F62]">Wireless headphones</p>
        <p class="text-[#4A4A4A] font-medium text-[17px]">$11,70</p>
        <span class="flex">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
          <img class="w-[15px] h-[15px]" src="src/img/icon/start_home.svg" alt="">
        </span>
      </div>


      <div
        class="hidden bottom-0 w-full h-[100%] px-[10px] transiton transform: rotate(360deg);   justify-between items-center hover-content group-hover:flex">
        <button
          class="mb-0 w-[204px] h-[60px] bg-[#87BCD9] relative flex items-center px-[10px] rounded-[20px] text-[16px] font-semibold">Add
          to
          cart
          <img class="absolute right-0 top-[50%] translate-x-[-50%] translate-y-[-50%] w-[30px] h-[30px] object-cover"
            src="src/img/icon/cart_boxsp_home.svg" alt="">
        </button>

        <button class="bg-[#87BCD9] w-[70px] rounded-full h-[60px]  ">
          <img class="w-[70px] h-[60px] object-cover" src="src/img/icon/eye_boxsp2_home.svg" alt="">
        </button>

      </div>
    </div>



  </div>
</div>