<!-- mục  -->
<div class="w-[1310px] flex  m-auto h-[76px]  items-center mb-[100px]">
    <a href="" class="font-medium mr-[20px] flex">Home <img class="w-[24px] ml-[15px] h-[24px]"
            src="../../../assets/img/icon/suột PHải_pr/vuesax/linear/vuesax/linear/arrow-down.svg" alt=""></a>
    <a href="products" class="font-medium mr-[20px] flex">All category <img class="w-[24px] ml-[15px] h-[24px]"
            src="../../../assets/img/icon/suột PHải_pr/vuesax/linear/vuesax/linear/arrow-down.svg" alt=""></a>
</div>