<!-- header -->
<header class="w-full bg-[#003f62] text-white">
  <div class="w-[1314px] h-[100px] mx-auto flex items-center">
    <div class="flex w-1/2 text-[14px] justify-between items-center">
      <a class="w-[140px] h-[39px] flex" href=""><img src="../../../assets/img/icon/logo.svg" alt="Logo"></a>
      <div class="relative w-[438px] h-[56px] ml-4">
        <input class="outline-none border-none rounded-[16px] w-full h-full pl-[25px] text-black"
          placeholder="Search any things" type="text">
        <button class="rounded-[16px] font-semibold bg-[#eda415] w-[132px] h-full absolute right-0 top-0">Search
        </button>
      </div>
    </div>
    <div class="flex justify-end w-1/2">
      <div class="flex justify-between w-1/2 ">

        <a class="flex items-center" href="register">
          <img class=" w-[24px] h-[24px]" src="../../../assets/img/icon/user_home/vuesax/linear/vuesax/linear/user.svg"
            alt="">
          <span class="ml-[13px]">Register</span>
        </a>
        <a class="flex items-center" href="login">
          <img class=" w-[24px] h-[24px]" src="../../../assets/img/icon/user_home/vuesax/linear/vuesax/linear/user.svg"
            alt="">
          <span class="ml-[13px]">Login</span>
        </a>

        <a class="flex items-center justify-between" href="">
          <div class="flex items-center justify-between ">
            <img class=" w-[24px] h-[24px]" src="../../../assets/img/icon/cart_home/vuesax/linear/shopping-cart.svg"
              alt="">
            <span class=" px-[5px] py-[2px] bg-[#EDA415] text-[10px] rounded-full ml-1">0</span>
          </div>
          <span class="ml-[13px]">Cart</span>

        </a>
      </div>
    </div>
  </div>
</header>