<!-- info -->
<div class="text-[14px] m-auto w-[1330px] h-[72px] flex justify-between items-center">
  <p class="">Need help? Call us: (+98) 0234 456 789</p>
  <div class="flex w-[300px] justify-between">
    <a class="flex"> <img class="mr-[20px] w-[24px] h-[24px]"
        src="../../../assets/img/icon/map_home/vuesax/linear/location.svg" alt="">Our store</a>
    <a class="flex"> <img class="mr-[20px] w-[24px] h-[24px]"
        src="../../../assets/img/icon/car_home/vuesax/linear/vuesax/linear/group.svg" alt="">Track your order
    </a>
  </div>
</div>