<!-- banner_bottom -->
<div class="w-[1310px] h-[417px] m-auto relative ">
  <img class="w-full" src="../../../assets/img/image/banner_image.png" alt="">
  <div
    class="w-[370px] flex flex-col h-[100%] items-center absolute top-[50%] right-0 translate-x-[-30%] translate-y-[-35%] ">

    <div class="mb-[50px] w-[134px] leading-[45px] bg-[#EDA415] text-center text-white rounded-[19px] text-[14px]   ">
      New
      laptop
    </div>
    <p class="font-bold text-[41px] text-[#2E8FC5] ">Sale up to 50% off</p>
    <p class="text-white my-[40px]">12 inch hd display</p>

    <div class="w-[134px] leading-[45px] bg-[#EDA415] text-center text-white rounded-[19px] text-[14px]   ">
      Shop now
    </div>
  </div>
</div>