<!-- menu -->

<div class="w-[1314px] m-auto h-[70px] text-[16px] flex items-center justify-between">

  <div class="bg-[#EDA415] text-white text-center w-[188px] px-[15px] h-[70px] flex items-center justify-center">
    <span>Browse categories</span>
    <img class="ml-[5px] text-white flex font-bold items-end mt-[4px]"
      src="src/img/icon/suột_home/vuesax/linear/vuesax/linear/arrow-down.svg" alt="">
  </div>




  <div class="flex w-3/4 justify-between items-center">

    <ul class="flex items-center w-1/2 h-[70px] font-medium ">

      <li class="w-1/5">
        <a href="" class="flex justify-evenly">Home
          <img class="mt-1 text-black flex font-bold "
            src="src/img/icon/suột_đen/vuesax/linear/vuesax/linear/Vector.svg" alt="">
        </a>
      </li>

      <li class="w-1/5">
        <a href="" class="flex justify-evenly">Catalog
          <img class="mt-1" src="src/img/icon/suột_đen/vuesax/linear/vuesax/linear/Vector.svg" alt="">
        </a>
      </li>

      <li class="w-1/5">
        <a href="" class="flex justify-evenly">Blog</a>
      </li>
      <li class="w-1/5">
        <a href="" class="flex justify-evenly">Pages
          <img class="mt-1 text-black flex font-bold "
            src="src/img/icon/suột_đen/vuesax/linear/vuesax/linear/Vector.svg" alt="">
        </a>
      </li>
      <li class="w-1/5"><a href="" class="flex justify-around">About us
          <img class="mt-1 text-black flex font-bold "
            src="src/img/icon/suột_đen/vuesax/linear/vuesax/linear/Vector.svg" alt="">
        </a>
      </li>
    </ul>
    <a class="font-bold text-[#003F62]" href="">30 Days Free Return</a>

  </div>

</div>